html { font-size: 10px; }
@media (min-width: 1400px) and (min-height: 780px) {
    html { font-size: 13px; }
}
@media (min-width: 1600px) and (min-height: 900px) {
    html { font-size: 15px; }
}

@font-face {
    font-family: 'Shopie';
    src: url('fonts/Shopie.eot');
    src: url('fonts/Shopie.eot?#iefix') format('embedded-opentype'),
    url('fonts/Shopie.woff2') format('woff2'),
    url('fonts/Shopie.woff') format('woff'),
    url('fonts/Shopie.ttf')  format('truetype'),
    url('fonts/Shopie.svg#Shopie') format('svg');
}

body {
    margin: 0;
    font-family: 'Shopie', sans-serif;
    background-color: #1E2E06 !important;
    color: white !important;
}
