html { font-size: 10px; }
@media (min-width: 1300px) and (min-height: 780px) {
    html { font-size: 13px; }
}
@media (min-width: 1500px) and (min-height: 900px) {
    html { font-size: 15px; }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #1E2E06 !important;
    color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
