.wrapper {
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 200px;
    border-right: 1px solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.rolls {
    overflow: auto;
}

.table {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


#dice {
    margin: 100px;
    height: 38px;
}
