.wrapper {
    display: flex;
    align-items: center;
}

.sidebar {
    width: 200px;
    border-right: 1px solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.rolls {
    overflow: auto;
}

.table {
    display: flex;
    justify-content: center;
}

.fields {
    position: relative;
    background-image: url('./background.png');
    background-size: 100%;
    width: 84.2rem;
    height: 59.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}


#dice {
    margin: 100px;
    height: 38px;
}
